body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



  @media screen and (max-width: 660px) {
    .header  {width: 600px;}
    /* table{
      width: 100%;
    } */
    .t1{
      width: 382px;
      /* margin-left: 10%; */
      margin: 10px;
      padding: 10px;
    }
    /* input{
      width: 100%;
    } */
  } 
